* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text: #030c0b;
    --background: #ececec;
    --primary: #29a38f;
    --secondary: #b6ede3;
    --accent: #2bab96;
}
  
ul {
    list-style-type: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    background-color: var(--background);
}

.top-bar {
    font-size: 1.5rem;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    border-bottom: 2px solid var(--primary);
}

main {
    display: flex;
}

.sidebar {
    padding: 2rem;
    flex-basis: calc(100vw/4);
}

.sidebar ul {
    position: sticky;
    top: 2em;
}

.sidebar ul > p {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0.6rem;
}

.sidebar li {
    margin-bottom: 0.6rem;
    padding: 0.2rem 0.8rem;
    border: 1px solid var(--accent);
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: transform ease 0.1s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.2rem;
}

.sidebar li button:hover {
    background-color: var(--primary);
}

.sidebar li:hover {
    background-color: var(--secondary);
}

.sidebar li:active {
    transform: scale(0.95);
}

#new-project-form #project-name{
    padding: 0.2rem;
    margin-bottom: 0.3rem;
    border: 2px solid var(--accent);
    outline: none;
    border-radius: 5px;
    font-size: 1.1rem;
}

#new-project-form button {
    display: block;
    background-color: var(--background);
    font-weight: bold;
    border: 1px solid var(--accent);
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

#new-project-form button:hover {
    background-color: var(--secondary);
}

.project-header {
    font-size: 1.3rem;
    padding: 1rem;
    width: 100%;
    background-color: var(--secondary);
    font-weight: bold;
    margin-bottom: 1.2rem;
    text-align: left;
    border-radius: 5px;
}

.todos {
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.todo-div1, .todo-div2{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.todos .todo {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 0.6rem;
    border: 1px solid var(--accent);
    border-radius: 5px;
    min-width: 400px;
}

.todo .title {
    font-weight: bold;
    font-size: 1.2rem;
}

.todo .description {
    font-size: 0.9rem;
}

.todo button.mark-imp-btn {
    padding: 0.5em 0.3em;
    cursor: pointer;
    border-radius: 5px;
    border: 3px solid black;
    font-weight: bold;
    width: 4.5rem;
}

.todo button.mark-imp-btn:active{
    transform: scale(0.96);
}

.todo button.not-important {
    background-color: var(--secondary);
}

.todo button.important {
    background-color:crimson;
}


.todo button.del {
    padding: 0.4rem;
    background-color: lightcoral;
    border: 3px solid black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo button.del:active {
    transform: scale(0.95);
}

.todo input[type="checkbox"] {
    transform: scale(1.5);
    cursor: pointer;
    padding: 0.5rem;
}

.add {
    height: 2.5rem;
    width: fit-content;
    padding: 0.5rem 0.5rem;
    border-radius: 3px;
    border: 1px solid var(--accent);
    background-color: var(--background);
    font-size: 1rem;
    color: var(--text);
    cursor: pointer;
    margin-bottom: 0.6rem;
}

.add:hover {
    background-color: var(--secondary);
}

.add:active {
    transform: scale(0.95);
}

#add-todo-form {
    font-size: 1rem;
    border: 1px solid var(--accent);
    border-radius: 5px;
    padding: 1.2rem;
    width: fit-content;
}

#add-todo-form .form-field {
    margin-bottom: 0.5rem;
}

#add-todo-form .form-field input {
    padding: 0.3rem;
    border-radius: 5px;
    border: 2px solid var(--primary);
    outline: none;
}

#add-todo-form button[type="submit"]{
    padding: 0.3rem;
    background-color: var(--background);
    border: 1px solid var(--primary);
    cursor: pointer;
    border-radius: 5px;
}
